@charset "utf-8";
/* CSS Document */

#form {
	width:600px;
	margin: 50px auto;
	font-size:14px;
	background-color: #d0e4f2;
	border-radius: 5px;

}
#form_top {
	width: 600px;
	margin: 0 auto;
	color:#777;
	text-align: left;
}
#form_top h2 {
	font-size: 18px;
	font-weight: bold;
}
#form_top p {
	font-size:14px;
	margin-top: 5px;
}
textarea {
	width: 350px;
	height: 400px;
	resize: none;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #AAA;
}
.area {
	width: 350px;
	height: 1.5em;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #AAA;

}
th {
height: 100px;
}
td {
	text-align: center;
}
.toiawase {
	padding-top:25px;
}
.sousin {
	text-align: center;
	padding-bottom: 20px;
}